@media (max-width: 768px) {
    #logo {
      display: none !important; /* Hide the image container on small screens */
    }
  }
  

#bigButton{
  background-color: #5c63ff;
}
/* 
.linkText {
  color: #5c63ff;
  color: #000;
} */

#link1, #link2{
  color:  #5c63ff;
}