/* .shiftRight {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
} */


.commentBtn {
    /* width: 180px !important; */
    /* padding: 5px; */
    /* background-color: #5e26ff; */
    /* color: #5e26ff;
     */
    color: rgb(0, 0, 0);
    margin-left: -35px;
    border-radius: 20px;
    white-space: nowrap;
}

.song_list {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.song-item {
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); */
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.538) !important;
    /*set to white*/
}

@media only screen and (max-width: 1000px) {
    .song_list {
        width: 100%;
    }

}

.individualComment {
    margin-bottom: 5px;
    margin-top: 15px;
}

#CommentTitle {
    font-weight: bold;
}

#commentInput {
    padding: 10px;
    border: 0.5px solid #979696;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;

    /* background-color: red; */
}

.inputBox{
    background-color: rgb(255, 255, 255);
    border:none;
    max-width: 90%;
}

#iframe {
    margin-top: 20px;
}

.viewBtn {
    font-size: 17px;
    font-weight: 600;
    color: rgb(16, 16, 16);
    margin-top: 10px;
    margin-bottom: 20px;
}

#commentContainer {
    /* margin-left: 25px; */
}

.commentText{
    margin-left: 45px;
}

.besideImage{
    margin-top:-10px;
    margin-left: 10px;
}

.dateText{
    font-weight: 500;
    color:#444040;
    margin-top: -3.8px;
}

.deleteBtn{
    height: 30px;
    width: 30px;
    font-size: 25px;
    margin-left: 15px;
    margin-top: -6px;
    color:rgb(163, 46, 46);
}