.shiftRight{
    width:70%;
    margin-left: auto;
    margin-right: auto;
}


.commentBtn{
    width: 180px !important;
}

.song_list{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 1000px) {
    .song_list {
      width: 99%;
    }

    .shiftRight{
        width:70%;
        margin-left: 0 !important;
        margin-right: 0;
    }
    
  }

  @media only screen and (max-width: 1300px) {
    .shiftRight{
        margin-left: 40px;
    }
    
  }