#groove1 {

    font-size: 60px;
    font-weight: bolder;
    color: #5c63ff
}

#title1 {

    font-size: 20px;
    font-weight: 200;
    color: #000000;
    margin-top: 30px;
    margin-bottom: 30px;
    ;
}

#sb {
    background-color: #5c63ff;
}

#warning {
    color: red;
    font-size: 15px;
    font-weight: 600;
    background-color: rgb(247, 247, 212);
    border-radius: 2rem;
}

#not_background {
    margin: auto;
}

@media only screen and (max-width: 767px) {
    #not_background {
        margin-top: 0;
        height: 100%
            /* Override margin-top for mobile devices */
    }
}

#parent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#Bio {
    resize: none;
    width: 40px;

    margin-top: 0.25rem;
    /* 4px */
    padding: 1rem;
    /* 16px */
    display: block;
    /* width: 100%; */
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
    border-radius: 0.375rem;
    /* 6px */
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-border-opacity: 1;
    border-color: rgb(59 130 246 / var(--tw-border-opacity));


}

#BIOcONTAINER {
    /* background-color: red; */
}