/* App Container */
.app-container {
    display: flex;
    height:100%;
    width: 100%;
  }
  
/* Main Content */
.main-content {
    flex: 1;
    /* padding: 20px; */
    margin: 4%;
}

/* header */
h2 {
    font-family: 'FigTree', sans-serif;
    font-weight: 700;
    color: black;
    font-size: xxx-large;
    letter-spacing: 2px;
}

.header {
    padding-bottom: 3%;
}

  
/* Profile Page */
.profile-section {
    text-align: center;
}
  



a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }
  
  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
  
  button {
    border-radius: 30px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #5E26FF;
    color: white;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }

