/* App Container */
.app-container {
    display: flex;
    height:100%;
    width: 100%;
  }
  
/* Main Content */
.main-content {
  flex: 1;
  /* padding: 20px; */
  padding: 2% 4% 4%;
  overflow: scroll;
}

/* header */
h2 {
  font-family: 'FigTree', sans-serif;
  font-weight: 700;
  color: black;
  font-size: xx-large;
  letter-spacing: 2px;
}

.header {
  padding-bottom: 3%;
}

.headerText {
  font-family: 'FigTree', sans-serif;
  font-weight: 400;
  color: black;
  font-size: medium;
  letter-spacing: 1px;
}
  
  /* Share Page */
  .share-page {
    background-color: rgb(255, 255, 255);
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    /* background-color: red; */
    width: 100%;
    /* padding: 20px; */
    text-align: center;
  }
  
  .share-page h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  #searchcontainer {
    margin-top: 3%;
  }
  #searchcontainer h2 {
    font-size: 24px;
    margin-bottom: 8px;
  }

  #searchcontainer p {
    margin-bottom: 40px;
  }