.sidebarMain {
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: #5C63FF;
    padding: 17px 2%;
    box-sizing: border-box;
    height: 100%;
    position: sticky;
    top: 0;
    left: 0;
}

.sidebarName {
    font-family: 'FigTree', sans-serif;
    font-weight: 900;
    color: white;
    font-size: xxx-large;
    letter-spacing: 2px;
    margin-bottom: 3%;
    /* Adjust margin-bottom as needed */
}

.sideBarPages {
    flex-grow: 1;
    /* Allow this container to fill the space */
    display: flex;
    flex-direction: column;
}

.sideBarPage {
    font-family: 'FigTree', sans-serif;
    font-weight: 500;
    font-size: large;
    letter-spacing: 2px;
    color: white;
    padding: 15px 0;
    /* Adjust padding for spacing between items */
    margin-left: 2%;
    /* To align text */
    text-decoration: none;
    width: 100%;
}

.sideBarPage:hover {
    font-weight: 700;
    letter-spacing: 3px;
}

.signOutButtonContainer {
    padding: 8px 0;
    width: 100%;
    margin-top: auto;
    /* Pushes the container to the bottom */
}

.signOutButton {
    font-family: 'FigTree', sans-serif;
    font-weight: 500;
    font-size: large;
    letter-spacing: 2px;
    color: white;
    background: none;
    border: none;
    text-align: left;
    width: 100%;
    cursor: pointer;
    margin-left: 2%;
}

@media (max-width: 600px) {
    .sidebarMain {
        flex-direction: row;
        width: 100%;
        height: 10%;
        position: fixed;
        bottom: 0;
        /* Adjusted to bottom to avoid overlap with main content */
        z-index: 1000;
        /* Ensures the sidebar stays on top */
    }

    .sidebarName,
    .sideBarPages,
    .sideBarSignOut {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .sidebarName {
        padding-right: 15px;
        font-size: 22px !important;
        /* Larger text for visibility */
    }

    .sideBarPages {
        flex-direction: row !important;
    }

    .sideBarPage {
        font-size: 16px !important;
        /* Smaller text to fit in row layout */
        padding: 15px 10px;
        /* Adjust padding to fit within row */
        margin: 0;
        /* Remove margin for alignment in row */
    }

    .signOutButton {
        justify-content: center;
        /* Center button text */
    }
}